# 연관규칙분석

---

## 1. 분석 데이터 불러오기 및 확인

In [1]:
import warnings
warnings.filterwarnings("ignore")
import numpy as np 
import pandas as pd

In [2]:
data = pd.read_csv('data/Market_Basket.csv', header = None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
transactions = []
for i in range(data.shape[0]):
    transactions.append([str(data[j][i]) 
                         for j in range(data.shape[1]-data.isnull().sum(axis=1)[i])])

In [5]:
transactions[:1]

[['shrimp',
  'almonds',
  'avocado',
  'vegetables mix',
  'green grapes',
  'whole weat flour',
  'yams',
  'cottage cheese',
  'energy drink',
  'tomato juice',
  'low fat yogurt',
  'green tea',
  'honey',
  'salad',
  'mineral water',
  'salmon',
  'antioxydant juice',
  'frozen smoothie',
  'spinach',
  'olive oil']]

## 2. apriori 모델 적용

In [7]:
from apyori import apriori

In [9]:
rules = apriori(transactions, min_support = 0.015, min_confidence = 0.2,
                min_lift = 1, min_length =1)

In [10]:
results = list(rules)

In [12]:
results[:1]

[RelationRecord(items=frozenset({'mineral water'}), support=0.23836821757099053, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'mineral water'}), confidence=0.23836821757099053, lift=1.0)])]

In [13]:
print(len(results))

78

In [15]:
df = pd.DataFrame(results)
df.head()

,items,support,ordered_statistics
0,(mineral water),0.238368,"[((), (mineral water), 0.23836821757099053, 1.0)]"
1,"(burgers, eggs)",0.028796,"[((burgers), (eggs), 0.33027522935779813, 1.83..."
2,"(burgers, french fries)",0.021997,"[((burgers), (french fries), 0.252293577981651..."
3,"(burgers, green tea)",0.017464,"[((burgers), (green tea), 0.2003058103975535, ..."
4,"(burgers, milk)",0.017864,"[((burgers), (milk), 0.20489296636085627, 1.58..."

In [16]:
df.to_csv('data/apriori_result.csv')
df.head()

,items,support,ordered_statistics
0,(mineral water),0.238368,"[((), (mineral water), 0.23836821757099053, 1.0)]"
1,"(burgers, eggs)",0.028796,"[((burgers), (eggs), 0.33027522935779813, 1.83..."
2,"(burgers, french fries)",0.021997,"[((burgers), (french fries), 0.252293577981651..."
3,"(burgers, green tea)",0.017464,"[((burgers), (green tea), 0.2003058103975535, ..."
4,"(burgers, milk)",0.017864,"[((burgers), (milk), 0.20489296636085627, 1.58..."

In [17]:
df.iloc[6:19][['items','support']]

                             items   support
6             (burgers, spaghetti)  0.021464
7                     (cake, eggs)  0.019064
8             (cake, french fries)  0.017864
9            (mineral water, cake)  0.027463
10               (cake, spaghetti)  0.018131
11        (chicken, mineral water)  0.022797
12            (chicken, spaghetti)  0.017198
13               (chocolate, eggs)  0.033196
14           (chocolate, escalope)  0.017598
15       (chocolate, french fries)  0.034395
16  (chocolate, frozen vegetables)  0.022930
17        (chocolate, ground beef)  0.023064
18               (chocolate, milk)  0.032129

## 3. 연관품목의 시각화

In [21]:
ar = df.iloc[1:74]['items']
ar

1                       (burgers, eggs)
2               (burgers, french fries)
3                  (burgers, green tea)
4                       (burgers, milk)
5              (burgers, mineral water)
                    ...
69    (whole wheat rice, mineral water)
70               (olive oil, spaghetti)
71                (spaghetti, pancakes)
72                  (spaghetti, shrimp)
73                (tomatoes, spaghetti)
Name: items, Length: 73, dtype: object