In [1]:
import pandas as pd
import numpy as np
import datetime
import time

### datetime

In [2]:
# 현재날짜
print(datetime.datetime.today())
print(datetime.datetime.today().year)
print(datetime.datetime.today().month)
print(datetime.datetime.today().day)
print(datetime.datetime.today().hour)
print(datetime.datetime.today().minute)
print(datetime.datetime.today().second)

2021-03-11 13:40:16.400328
2021
3
11
13
40
16

In [4]:
# 날짜를 지정한다.
date = datetime.date(2018,9,29)
date

datetime.date(2018, 9, 29)

In [6]:
print(date.year)
print(date.month)
print(date.day)

2018
9
29

In [7]:
# 시간을 지정한다.
time = datetime.time(12,30,19,46544)
time

datetime.time(12, 30, 19, 46544)

In [9]:
print(time.hour)
print(time.minute)
print(time.second)
print(time.microsecond)

12
30
19
46544

In [10]:
# 날짜와 시간을 지정한다.
dt = datetime.datetime(2018, 9,29, 12, 30,19,363636)
dt

datetime.datetime(2018, 9, 29, 12, 30, 19, 363636)

### 데이터프레임의 시간관련기능들

- 기준시 : 1970-01-01 0:0:0를 0으로 정한 값을 관리한다.
- 유닉스 탄생 시간

In [11]:
pd.Timestamp(0)

Timestamp('1970-01-01 00:00:00')

In [16]:
# 날짜가 담겨있는 Series를 생성한다.
a1 = pd.Timestamp(0)
s1 = pd.Series(a1)
s1

0   1970-01-01
dtype: datetime64[ns]

In [17]:
# 기본값은 나노 세컨드 단위 (초 > 밀리 > 마이크로 > 나노)
pd.Timestamp(17800)

Timestamp('1970-01-01 00:00:00.000017800')

In [18]:
# 마이크로 세컨드 단위
pd.Timestamp(17800, unit='us')

Timestamp('1970-01-01 00:00:00.017800')

In [19]:
# 밀리 세컨드 단위
pd.Timestamp(17800, unit='ms')

Timestamp('1970-01-01 00:00:17.800000')

In [20]:
# 초 단위 시간
pd.Timestamp(17800, unit='s')

Timestamp('1970-01-01 04:56:40')

In [21]:
# 분 단위 시간
pd.Timestamp(17800, unit='m')

Timestamp('1970-01-13 08:40:00')

In [23]:
# 시간 단위 시간
pd.Timestamp(17800, unit='h')

Timestamp('1972-01-12 16:00:00')

In [24]:
# 날짜 단위 시간
pd.Timestamp(17800, unit='d')

Timestamp('2018-09-26 00:00:00')

In [32]:
# 월 단위 시간
pd.Timestamp(1700, unit='M')

Timestamp('2111-09-01 16:30:00')

In [36]:
# 년도 단위 시간
pd.Timestamp(100, unit='Y')

Timestamp('2069-12-31 06:00:00')

In [35]:
# 날짜를 직접 지정한다.
# Java등 다른 프로그래밍 언어는 1월을 0으로 관리한다. 즉 0~11월까지 존재한다.
# 허나 파이썬은 1 ~ 12월로 존재한다.
pd.Timestamp(year=2021, month=3, day=1, hour=14, minute=12, second=30)

Timestamp('2021-03-01 14:12:30')

### 값을 날짜로 변환

In [37]:
s1 = pd.Series([10,100,1000,10000])
s1

0       10
1      100
2     1000
3    10000
dtype: int64

In [38]:
pd.to_datetime(s1,unit='D')

0   1970-01-11
1   1970-04-11
2   1972-09-27
3   1997-05-19
dtype: datetime64[ns]

In [40]:
# 날짜 값이 있는 데이터프레임 사용
df = pd.DataFrame({
    'year': [2015,2016],
    'month':[2,3],
    'day':[4,5]
})

pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [47]:
# 문자열로 되어있는 값을 날짜로 변환한다.
# 날짜 형식 : 년-월-일, 월-일-년

# s1 = pd.Series(['2018-01-01','02-01-2018'])
# s1 = pd.Series(['2018-01-01','02-01-2018','02-2018-10'])
# s1 = pd.Series(['2018/01/01','02/01/2018'])
s1 = pd.Series(['2018/01/01','02/01/2018'])
s2 = '2018-01-01'
pd.to_datetime(s1)

0   2018-01-01
1   2018-02-01
dtype: datetime64[ns]

In [49]:
# 위에서 살펴본 오류가 발생한 양식의 문자열을 사용한다.
s1 = pd.Series(['02-2018-01', '02-2018-01','03-2019-03'])
pd.to_datetime(s1, format='%m-%Y-%d')

0   2018-02-01
1   2018-02-01
2   2019-03-03
dtype: datetime64[ns]